<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/app.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block head %} {% endblock %}
  </head>
  <body>
  {% include "nav.njk" %}

  {% block content %}{% endblock %}

  <!--
  <footer class="bg-black h-16 text-white flex items-center text-center text-sm">
  <p class="container">Popcorn Nantes 🍿, annuaire & réseau de développeurs freelance à Nantes</p>
  </footer>
  -->

  <!--<script src="/app.js"></script>-->
  {% block scripts %}{% endblock %}
  </body>
</html>