{% extends "layout.njk" %} 

{% block content %}
<div class="container mx-auto flex flex-wrap">
  {% for person in persons %}
    <div class="w-1/4 p-2">
      <div class="bg-white shadow-xl rounded">
        <img src="{{person.photo}}" />
        <h2>{{ person.titre }}<h2>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
